* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    overflow-x: hidden ;
}
/* SE APLICA CON JS AL BODY PARA Q CUANDO SE ABRA EL MODAL NO SE PUEDA INTERACTUAR CON EL FONDO */
.modalAbierto {
    pointer-events: none;
    overflow: hidden;
}
.titulo{
    font-size: 45px;
    font-weight: bolder;
}
.subTitulo{
    font-size: 24px;
    font-weight: 500;
    margin-block: 24px;
}
.texto{
    font-size: 16px;
}
.textoChiquito{
    font-size: 12px;
}
section,
footer {
    padding-inline: 1.3em;
}
/* BLACK BUTTON */
.blackBtn {
    font-size: 14px;
    font-weight: bolder;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
/* WHITE BUTTON */
.whitekBtn {
    font-size: 14px;
    font-weight: bolder;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    color: black;
    background-color: white;
    cursor: pointer;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}
header .bloque1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    
    padding-inline: 23px;
    height: 2.5em;
}
header .bloque1 .buscar {
    display: flex;
}
header .bloque1 .buscar p {
    font-weight: bolder;
    padding-inline:.5em ;
    cursor: pointer;
}
header .bloque1 .buscar p:first-child {
    border-right: 2px solid black;
}
header .bloque2 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.75em;
    padding-inline: 23px;
}
header .bloque2 nav ul {
    display: flex;
    gap: 1.5em;
}
header .bloque2 nav ul li {
    list-style-type: none;
    position: relative;
}
header .bloque2 nav ul li::after {
    content: "";
    position: absolute;
    bottom: -.5em;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 0;
    transition: .2s;
}
header .bloque2 nav ul li:hover::after {
    opacity: 1;
}
header .bloque2 nav ul li a {
    text-decoration: none;
    color: black;
}
header .bloque2 .open, 
header .bloque2 .close {
    display: none;
}
header .bloque2  .icons {
    display: flex;
    align-items: center;
    gap: 2.5em;
}
header .bloque2  .icons .search {
    background-color: #f5f5f5;
    padding: .6em 4em .6em 1em;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: .8em;
}
header .bloque2  .icons i {
    font-size: 1.3em;
}
header .bloque2  .icons .carritoItem .bi-bag {
    color: black;
    font-weight: 900;
    position: relative;
}
header .bloque2  .icons .carritoItem .bi-bag span {
    background-color: black;
    color: white;
    padding: .3em .5em;
    border-radius: 50%;
    font-size: .8em;
    font-family: monospace;
    position: absolute;
    top: -10px;
    right: -15px;
}

header .bloque2  .icons p {
    cursor: pointer;
    color: gray;
    font-size: 14px;
}
header .bloque2  .icons p i {
    font-size: 18px;
    color: black;
    height: 2em;
    margin-right: .5em;
}
header .nav .divContainer .div {
    display: none;
} 
/* -----------------MODAL CARRITO ------------------*/
.carrito {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.7);
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    overflow: auto;
}
.carrito.active {
    opacity: 1;
    visibility: visible;
    width: 30%;
    pointer-events: all;
}
.carrito .miCompra .titulo{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: white;
    border-bottom: 1px solid #c5c2c2;
    font-size: 1em;
    position: sticky;
    top: 0;
}
.carrito .miCompra .titulo .close {
    cursor: pointer;
}
/* CUANDO EL CARRITO ESTE VACIO */
.carrito .carritoVacio {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.carrito .carritoVacio .bi-bag {
    font-size: 3.5em;
}
/* CUANDO EL CARRITO ESTE CON PRODUCTOS */

.carrito .miCompra .compra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 1em;
}
.carrito .miCompra .compra .producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #dfdcdc;
}
.carrito .miCompra .compra .producto img{
    width: 5.5em;
    border-radius: .3em;
}
.carrito .miCompra .compra .producto .detalles {
    height: 5.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 12px;
}
.carrito .miCompra .compra .producto .detalles .nombre {
    font-weight: bolder;
}
.carrito .miCompra .compra .producto .eliminar {
    height: 5.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.carrito .miCompra .compra .producto .eliminar i {
    font-size: 1.1em;
    cursor: pointer;
}
.carrito .miCompra .compra .producto .eliminar p {
    font-size: .8em;
    font-weight:bold ;
}
.carrito .precio {
    background-color: #f5f5f5;
    padding: 2em;
    position: sticky;
    bottom: 0;
}
.carrito .precio .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
}
.carrito .precio .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.8em;

}
.carrito .precio .button button {
    margin-top: 2em;
}
.carrito .precio .button .seguir{
    cursor: pointer;
}
.carrito .precio .button p {
    font-size: 13px;
}
.carrito .compra.disabled,
.carrito .carritoVacio.disabled,
.carrito .precio.disabled {
    display: none;
}
/* ----------------3 CUOTAS CARRUSEL--------------------- */
.tresCuotas {
    padding-inline: 1.5em;
    height: 70px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tresCuotas img{
    height: 25px;
    cursor: pointer;
}
/* .tresCuotas .container {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.tresCuotas .container .parrafos {
    display: none ;
    opacity: 0;
    transition: .5s;
}
.tresCuotas .container .parrafos.parrafo-active {
    display: block;
    opacity: 1;
}
/*------------------------- GIF POR FIN-------------------- */
.gif {
    object-fit: cover;
    width: 100%;
}
/* -------------------NIKE INVINCIBLE------------------------ */
.nikeInvincible{
    padding-top: 6em;
}
.nikeInvincible .img{
    height: 100vh;
    background-image: url(img/nikeInvicible.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nikeInvincible .text{
    margin: 2em auto;
    text-align: center;
}
.nikeInvincible .text h3 {
    margin-block: 8px;
}
/* ------------------ULTIMOS LANZAMIENTOS---------------------------- */
.ultimosLanzamientos {
    margin-block: 1.5em;
}
.ultimosLanzamientos h3{
    margin-bottom: .5em;
}
.ultimosLanzamientos .container{
    display: flex;
    justify-content: space-between;
}
.ultimosLanzamientos .container > *{
    width: calc(100% / 2 - .5em);
    height: 100vh;
    position: relative;
}
.ultimosLanzamientos .generation{
    background-image: url(img/generation.webp);
} 
.ultimosLanzamientos .jordan {
    background-image: url(img/jordan.webp);
}
.ultimosLanzamientos .jordan,
.ultimosLanzamientos .generation{
    background-position: center;
    background-size: cover;
} 
.ultimosLanzamientos .jordan .text,
.ultimosLanzamientos .generation .text{
    position: absolute;
    bottom: 2.25em;
    left: 1em;
}
.ultimosLanzamientos .jordan .text h3 {
    color: white;
}
/* ---------------------NOVEDAES----------------- */
.novedades h3{
    margin-block: 1em;
}
.novedades .container {
    display: flex;
    justify-content: space-between;
}
.novedades .card{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - .8em);
}
.novedades .card img{
    height: 25em;
    object-fit: cover;
}
.novedades .card .cardBody{
    margin-block: 1.5em;
}
.novedades .card .cardBody .nombre,
.novedades .card .cardBody .precio {
    font-weight: bold;
}
.novedades .card .cardBody .descripcion{
    margin-block: .6em;
    color: gray;
}
/* ------------------------MAXXED OUT--------------------- */
.maxxed .imgMaxxed{
    height: 110vh;
    background-image: url(img/maxxed.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.maxxed .text {
    text-align: center;
    margin-block: 1em;
}
.maxxed .text .texto,
.maxxed .text .titulo {
    margin-block: .5em;
}
/* -------------------------COMPRAR POR GENERO---------------- */
.genero .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.genero .container h3 {
    margin-block: 1.5em;
}
.genero .container .hijo {
    width: calc(100% / 3 - .7em);
    height: 35.5em;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.genero .container .hombre {
    background-image: url(img/hombre.webp);
    background-size: cover;
    background-position: center;
}
.genero .container .mujer {
    background-image: url(img/mujer.webp);
    background-size: cover;
    background-position: center;
}
.genero .container .niños {
    background-image: url(img/niño.webp);
    background-size: cover;
    background-position: center;
}
.genero .container .hombre .text,
.genero .container .mujer .text,
.genero .container .niños .text {
    position: absolute;
    bottom: 2.25em;
    left: 1em;
}
.genero .container .hombre .text h3,
.genero .container .mujer .text h3,
.genero .container .niños .text h3 {
    margin: 0;
}
.genero .container .hombre button,
.genero .container .mujer button,
.genero .container .niños button {
    margin-top: 1.2em;
}
/* ------------------------Nuestros Íconos--------------------- */
.nuestrosIconos h3{
    margin-block: 1.5em;
}
.nuestrosIconos .container{
    display: flex;
    justify-content: space-between;
}
.nuestrosIconos .container .hijo {
    margin-bottom: .7em;
    width: calc(100% / 2 - .5em);
    height: 110vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.nuestrosIconos .container .airForce {
    background-image: url(img/airForce.webp);
}
.nuestrosIconos .container .dunk{
    background-image: url(img/dunk.webp);
}
.nuestrosIconos .container .dunk .text,
.nuestrosIconos .container .airForce .text {
    position: absolute;
    bottom: 2.25em;
    left: 1em;
}
/* -----------------------REGISTRATE--------------------------  */
.registrate {
    padding-block: 2em;
    background-color: #f5f5f5;
    text-align: center;
}
.registrate :first-child {
    font-weight: bold;
    padding: 1em 0 .5em 0;
}
.registrate .input {
    height: 40px;
    width: 260px;
    margin: 2em 0 1em 0;
    border: none;
    border-radius: 25px;
    padding: .5em 2em;
    color: gray;
}
.registrate .input:focus {
    border-color: none;
}
.registrate .peque {
    font-size: .55em;
}
.registrate .peque .subtitulado {
    text-decoration: underline;
    cursor: pointer;
}
.registrate :last-child {
    margin-top: 1em;
} 
/* --------------------------FOOTER----------------------------------------- */
footer {
    background-color: #111111;
    color: white;
    display: flex;
    flex-direction: column;
}
footer .bloque1 {
    padding-top: 2em;
    padding-bottom: 6.25em;

    display: flex;
    justify-content: space-between;
}
footer .bloque1 > * {
    width: 12.5em;
}
footer .bloque1 .preciosJustos {
    width: 16.25em;
}
footer .bloque1  .textoChiquito{
    font-size: .8em;
    font-weight: bolder;
}
footer .bloque1 li {
    list-style-type: none;
    font-size: .75em;
    margin-block: .8em;
}
footer .bloque1 li a,
footer .bloque2 .terminos, 
footer .bloque2 .politica {
    text-decoration: none;
    color: #7e7e7e;
    transition: .5s;
}
footer .bloque1 li a:hover,
footer .bloque2 .terminos:hover, 
footer .bloque2 .politica:hover {
    color: white;
}
/* -------------------------AYUDA------------------- */
footer .bloque1 .ayuda .boton {
    color: white;
}
footer .bloque1 .ayuda .signos {
    display: none;
}
footer .bloque1 .ayuda .ver {
    text-decoration: underline;
}

/* ----------------REDES---------------------------- */
footer .bloque1 .redes {
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 1.25em;
}
footer .bloque1 .redes a{
    font-size: 1.7em;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: #7e7e7e;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .bloque1 .redes a:hover {
    background-color: white;
}
footer .bloque1 .redes a i {
    color: black;
}
footer .bloque2 {
    border-top:1px solid #1d1e1e;
    padding: 20px 0 20px 0;
    font-size: 10px;

    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}
footer .bloque2 > *{
    display: flex;
    gap: 1em;
}
footer .bloque2 .argentina {
    color: white;
    text-decoration: none;
}
footer .bloque2 .copyright {
    color: #7e7e7e;
}
/* ---------------------PAGE PRODUCTOS------------------------------------- */
.containerFiltrar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5em;
    border-bottom: 1px solid #dfdcdc;
    border-top: 1px solid #dfdcdc;
    position: sticky;
    top: 100px;
    z-index: 10;
}
.containerFiltrar > * {
    padding-block: .7em;
}
.containerFiltrar .filtrar {
    display: flex;
    align-items: center;
    gap: .5em;
    cursor: pointer;
}
.containerFiltrar .ordenarPor img {
    transform: rotate(-90deg);
}
.containerFiltrar .filtrar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #dfdcdc;
    width: calc(100% / 3);
}
.containerFiltrar .ordenarPor .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    position: relative;
    cursor: pointer;
}
/* MODAL FILTROS  */
.modalFiltros {
    background-color: white;
    z-index: 100;
    width: 0;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: .5s;
}
.modalFiltros.active {
    opacity: 1;
    visibility: visible;
    width: 40%;
    pointer-events: all;
}
.modalFiltros .titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    font-size: 1.4em;
    border-bottom: 1px solid #dfdcdc;
}
.modalFiltros .titulo i {
    cursor: pointer;
}
.modalFiltros .container  {
    padding-inline: 1em;
    display: flex;
    flex-direction:column ;
}    
.modalFiltros .container .filtro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block: 1em;
    border-bottom: 1px solid #dfdcdc;
    font-weight: 600;
}
.modalFiltros .container .filtro .headerAcordeon {
    cursor: pointer;
}
.modalFiltros .container .filtro .contenidoAcordeon {
    list-style-type: none;
    padding: .5em 0 0 .8em;
    font-weight: normal;
    font-size: .9em;
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.modalFiltros .container .filtro .contenidoAcordeon.active {
    height: auto;
    opacity: 1;
    visibility: visible;
}
.modalFiltros .container .filtro .contenidoAcordeon div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: .5em;
    row-gap: 1em;
    cursor: pointer;
}
.modalFiltros .container .filtro .contenidoAcordeon .btnFiltro{
    cursor: pointer;
    padding: .3em;
    transition: .3s;
}
.modalFiltros .container .filtro .contenidoAcordeon .btnFiltro:hover, 
.modalFiltros .container .filtro .contenidoAcordeon .btnFiltro.active {
    background-color: black;
    color: white;
}
.modalFiltros .container .limpiarFiltros {
    margin: 1em;
}
/*------------------- CARDS DE PRDUCTOS --------------------*/
.sectionProductos {
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
.sectionProductos .cardProducto {
    width: 18em;
    min-width: 15em;
    border-radius: .5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    transition: .5s;
}
.sectionProductos .cardProducto:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-5px);
}
.sectionProductos .cardProducto img {
    width: 100%;
}
.sectionProductos .cardProducto .cardBody {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .3em;
}
.sectionProductos .cardProducto .cardBody .nombre  {
    font-weight: bolder;
    font-size: 1.2em;
}
.sectionProductos .cardProducto .cardBody .descripcion {
    color: gray;
}
.sectionProductos .cardProducto .cardBody div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectionProductos .cardProducto .cardBody div .precio {
    font-weight: bold;
    font-size: 1.2em;
}
.sectionProductos .cardProducto .cardBody div button {
    padding: 5px 10px;
    border-radius: .3em;
}
/* PAGE PRODUCTO */
.detallesProductos {
    display: flex;
    align-items: flex-start;
    padding: 2em 1em;
}
.detallesProductos > * {
    width: calc(100% / 3);
}
.detallesProductos .imagenes {
    display: flex;
    width: 66%;
}
/* .detallesProductos .imagenes .imagenPrincipal {
    display: flex;
    justify-content: center;
}
.detallesProductos .imagenes .imagenPrincipal img {
    width: 100%;
} */
.detallesProductos .imagenes .imagenesSecundarias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 2em;
    padding-inline: 1em;
}
.detallesProductos .imagenes .imagenesSecundarias > * {
    flex-basis: 47%;
}
.detallesProductos .imagenes div img {
    width: 300px;
}
.detallesProductos .detalles {
}
.detallesProductos .detalles .titulo {
    font-size: 28px;
    font-weight: bolder;
    padding-bottom: .5em;
}
.detallesProductos .detalles .descripcion {
    font-weight: bold;
    font-size: 18px;
}
.detallesProductos .detalles .precio {
    font-size: 19px;
    font-weight: bolder;
    padding-block: .5em;

}
.detallesProductos .detalles .seleccionar {
   
}
.detallesProductos .detalles .talles {
    padding-block: .5em;
    display: flex;
    justify-content: space-between;
}
.detallesProductos .detalles .talles > * {
    border: 1px solid #dfdcdc;
    border-radius: 5px;
    padding: 1em 2em;
}
.detallesProductos .detalles .talles > *:hover {
    cursor: pointer;
    background-color: #111111;
    color: white;
}
.detallesProductos .detalles .button {
    display: flex;
    justify-content: center;
    padding-block:1.7em ;
}
.detallesProductos .detalles:last-child {
    line-height: 1.5;
    text-align: justify;
}
/* ----------------------MEDIA QUERIES------------------------ */
@media screen and (max-width: 1025px){
    section,
    footer {
    padding-inline: 1.25em;
    }
    .titulo {
        font-size: 2.5em;
    }
    header {
        height: 56px;
    }
    header .bloque1 {
        display: none;
    }
    header .bloque2 .logo {
        height: 40px;
    }
    header .bloque2  .icons {
        gap: .75em;
    }
    header .bloque2  .icons .search {
        padding: 0;
        border-radius: none;
    }
    header .bloque2  .icons p {
        display: none;
    }
    header .bloque2 nav {
        padding: 0 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background-color: white;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    header .bloque2 nav.active {
        opacity: 1;
        visibility: visible;
        width: 70%;
        height: 100vh;
        pointer-events: all;
    }
    header .bloque2 nav.active ul {
        flex-direction: column;
        padding-top: 1em;
        pointer-events: all;
    }
    header .bloque2 nav.active .close {
        font-size: 1.5em;
        cursor: pointer;
        height: 2.5em;
        display: flex;  
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid #dfdcdc;
    }
    header .bloque2 nav ul li a{
        font-size: 1.25em;
        font-weight: 500;
    }
    header .bloque2 nav ul li::after {
        content: none;
    }
    header .bloque2 .open {
        display: block;
        font-size: 30px;
        order: -999;
        cursor: pointer;
    }
    header .nav .divContainer .div {
        display: block;
    } 
    header .nav .div {
        display: flex;
        flex-direction: column;
    }
    header .nav .div > * {
        display: flex;
        align-items: center;
    }
    header .nav .div .jordan {
        padding-block: 2.4em;
        font-weight: bolder;
        cursor: pointer;
    }
    header .nav .div .tienda, 
    header .nav .div .ayuda {
        display: flex;
        align-items: center;
        gap: .5em;
        cursor: pointer;
        margin-bottom: 1em;
    }
    header .nav .div .tienda i, 
    header .nav .div .ayuda i {
        font-size: 1.2em;
    }
    header .nav .div .tienda p, 
    header .nav .div .ayuda p{
        font-size: 12px;
        font-weight: bold;
    }
    /* MODAL CARRITO */
    .carrito.active {
        width: 70%;
    }
    /* -------------------NIKE INVINCIBLE------------------------ */
    .nikeInvincible{
        padding-top: 6em;
    }
    .nikeInvincible .text{
        padding-block: 1em;
        margin: 0;
    }
    .nikeInvincible p{
        font-size: 1em;
        margin-block: .7em;
    }
    .nikeInvincible h3{
        font-size: 1.8em;
    }
    /* ------------------ULTIMOS LANZAMIENTOS---------------------------- */
    .ultimosLanzamientos .container > *{
        height: 70vh;
    }
    .ultimosLanzamientos .container .subTitulo {
        font-size: 1em;
    }
    .ultimosLanzamientos .container button {
        font-size: .8em;
    }
    /* ---------------------NOVEDAES----------------- */
    .novedades .container .card img{
        height: 16em;
    }
    /* ------------------------MAXXED OUT--------------------- */
    .maxxed .imgMaxxed{
        background-image: url(img/maxxed2.webp);
        background-position: top;
        height: 180vh;
    }
    .maxxed .text .subTitulo {
        font-size: 1em;
        margin: 0;
    }
    .maxxed .text .titulo {
        font-size: 2em;
    }
    /* -----------------------------------COMPRAR POR GENERO---------------------------------- */
    .genero .container .hijo {
        height: 65vh;
    }
    /* ------------------NUESTROS ICONOS------------------------- */
    .nuestrosIconos .container .hijo {
        height: 28em;
    }
    /* FILTROS */
    .containerFiltrar {
        top: 56px;
    }
    /* --------------------------------FOOTER------------------------------ */
    footer .bloque1 {
        flex-direction: column;
        padding-bottom: 0;
        padding-top: .5em;
    }
    footer .bloque1 > * {
        width: 100%;
    }
    footer .bloque1 .tienda h4,
    footer .bloque1 .acerca h4 {
        border-bottom:1px solid #1d1e1e;
        padding: 1em 1em 1em 0;
    }
    /* footer .bloque1 .tienda ul,
    footer .bloque1 .acerca ul {
        display: none;
    } */
    footer .bloque1 .redes,
    footer .bloque1 .preciosJustos {
        padding-top: 1.5em;
    }
    footer .bloque1 .redes {
        justify-content: flex-start;
    }
    /* ACORDEON DE AYUDA */
    footer .bloque1 .ayuda .headerAcordeon {
        border-bottom:1px solid #1d1e1e;
        padding: 1em 1em 1em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    footer .bloque1 .ayuda .bodyAcordeon {
        padding: 0em;
        height: 0;
        overflow: hidden;
        transition: .5s;
    }
    footer .bloque1 .ayuda .bodyAcordeon.active {
        display: block;
        padding: .5em;
        height: fit-content;
    }
    footer .bloque1 .ayuda .signos {
        display: block;
    }
    footer .bloque2 {
        flex-direction: column;
        gap: 2em;

        border-top: none;
        font-size: 11px;
    }
    footer .bloque2 > * {
        justify-content: space-between;
    }
    /* PAGE DETALLES PRODUCTOS */
    .detallesProductos {
        flex-direction: column;
    }
    .detallesProductos > * {
        width: 100%;
    }    
    .detallesProductos .imagenes {
        width: 100%;
    }
    .detallesProductos .imagenes .imagenesSecundarias {
        justify-content: center;
        padding-inline: 0;
    }
    .detallesProductos .detalles .talles {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1em;
    }
}
@media screen and (max-width: 768px) {
    header {
        height: 3.5em;
    }
    header .bloque2  .icons .search {
        gap: 2em;
    }
    /* MODAL CARRITO */
    .carrito.active {
        width: 90%;
    }
    /* -------------------NIKE INVINCIBLE------------------------ */
    .nikeInvincible .img{
        height: 19em;
    }
    .nikeInvincible{
        padding-top: 1.3em;
    }
    .nikeInvincible .text p {
        font-size: 16px;
    }    
    /* ------------------ULTIMOS LANZAMIENTOS---------------------------- */
    .ultimosLanzamientos .container {
        flex-direction: column;
        gap: .5em;
    }
    .ultimosLanzamientos .container > *{
        width: 100%;
        height: 100vh;
    }
    /* ---------------------NOVEDAES----------------- */
    .novedades .max90{
        display: none;
    }
    .novedades .card{
        width: calc(100% / 2 - .8em);
    }
    /* ------------------------MAXXED OUT--------------------- */
    .maxxed .imgMaxxed{
        background-image: url(img/maxxed2.webp);
        height: 100vh;
    }
    /* -----------------------------------COMPRAR POR GENERO---------------------------------- */
    .genero .container {
        flex-direction: column;
        gap: .5em;
    }
    .genero .container .hijo{
        height: 70vh;
        width: 100%;
        background-position: top;
    }
    /* ------------------NUESTROS ICONOS------------------------- */
    .nuestrosIconos .container .hijo {
        height: 28em;
    }
    .nuestrosIconos .container {
        flex-direction: column;
    }
    .nuestrosIconos .container .hijo {
        height: 30em;
        width: 100%;
        background-position: center;
    }
    /* MODAL FILTROS */
    .modalFiltros.active {
        width: 80%;
    }
}
@media screen and (max-width: 553px) { 
    header .bloque2 nav {
        width: 100%;
    }
    /* ---------------------NOVEDAES----------------- */
    .novedades .container .card .cardImg{
        height: 12em;
    }
    /* FOOTER */
    footer .bloque2 > * {
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {
    /* ------------------------MAXXED OUT--------------------- */
    .maxxed .imgMaxxed{
        height: 21.5em;
    }
    /* ------------------ULTIMOS LANZAMIENTOS---------------------------- */
    .ultimosLanzamientos .container .generation,
    .ultimosLanzamientos .container .jordan{
        height: 26.25em;
    }
    /* ---------------------NOVEDAES----------------- */
    .novedades .container .card .cardImg{
        height: 10em;
    }
    /* -----------------------------------COMPRAR POR GENERO---------------------------------- */
    .genero .container .hijo{
        height: 26.25em;
    }
    /* ------------------NUESTROS ICONOS------------------------- */
    .nuestrosIconos .container .hijo{
        height: 26.25em;
    }
}